<div>
    <h3>5. Поселення студентів 1-го курсу в гуртожитки</h3>
    <h4>
        За результатами вступних іспитів кожен факультет інституту (голова приймальної
        комісії) формує список студентів 1-го курсу, що потребують місця в гуртожитку; списки
        передаються комендантові гуртожитків.
        Враховуючи число вільних місць у кожному з гуртожитків інституту (що видно з бази
        даних), комендант гуртожитків розподіляє студентів по гуртожитках таким чином: спочатку
        вибираються ті студенти, які мають пільги (сироти, чорнобильці, інваліди і так далі). Цих
        студентів намагаються розподілити в гуртожиток, відповідний їх факультету. Якщо це не
        вдається, то їм видають ордер на поселення в довільний гуртожиток.
        Далі розподіляються інші студенти по гуртожитках відповідних факультетів. Якщо
        студент з даної категорії не отримує місце в гуртожитку свого факультету, то він
        переноситься в загальний список тих, що бажають отримати місце. Студенти з цього списку
        розселяються по вільних місцях в порядку їх виникнення.
    </h4>
</div>
<div class="m-2">
    <h3>КПІ, ФІОТ, кафедра ІСТ, Курсова робота з Баз даних, Частина 4 Створення застосунку
    </h3>
    <h3>Виконав Кальченко Єгор, група ІС-02</h3>
</div>