<div>
    <button type="button" class="btn btn-secondary btn-lg btn-block"  onclick="location='@Url.Action("MainPage")'">Список студентів</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block"  onclick="location = '@Url.Action("Create", "Student")'">Додати студента</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block"  onclick="location='@Url.Action("About", "Home")'">Про проект</button>
</div>